<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <img src="cid:image1" style="width:400px"> 
                <h1 style="color:blue"> <strong>Welcome to Kilearn</strong> </h1> 
                <p> Thank you for subscribing to Kilearn\'s newsletter. </p> 
                <p>Visit us at <a href="http://www.kilearn.com">Kilearn</a></p> 
                <p> Thank you </p>                   
            </div>
        </div>
    </body>
</html>
